.stmanpage {
    background: #f2f8fe;
    padding: 30px;
    min-height: 100vh;
}

.stmanpage__header {
    min-height: 60px;
    background: #fff;
    border: 1px solid #b8cce1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    margin-bottom: 20px;

    .title {
        margin: 0;
        font-size: 24px;
    }
}

.stmanpage__body {
    background: #fff;
    border: 1px solid #b8cce1;
    min-height: calc(100vh - 140px);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

    .stmanpage__folderswrap {
        width: 100%;
        max-width: 300px;
        flex: 0 0 300px;
        background: #f2f8fe;
        border: 1px solid #b8cce1;
        border-radius: 5px;
    }

    .stmanpage__contentwrap {
        width: 100%;
        max-width: calc(100% - 300px);
        flex: 0 0 calc(100% - 300px);
        padding: 10px;
    }
}

.stmanpage__conthead {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #b8cce1;
    margin-bottom: 10px;

    .searchsect {
        width: 100%;
        max-width: calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
    }

    .totalcount {
        width: 100%;
        max-width: 200px;
        flex: 0 0 200px;

        p {
            margin: 0;
            text-align: right;

            span {
                color: #d12323;
                font-weight: 500;
            }
        }
    }

    .searchsect {
        input {
            width: 100%;
            height: 42px;
            border: none;
            outline: none;

        }
    }
}

.stmanpage__contentwrap {

    thead th {
        font-weight: 500 !important;
        background: #f2f8fe;

        &:not(.no-sort):after {
            content: "" !important;
            display: inline-block;
            width: 10px;
            height: 14px;
            background: url(../img/table-arrows.svg) no-repeat center/100%;
            position: absolute;
            right: 10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            opacity: 1 !important;
        }

        &::before {
            display: none !important;
        }
    }

    td {
        font-size: 15px;
        vertical-align: middle;
        padding: 15px 10px !important;
        position: relative;

        p {
            margin: 0;
        }
    }

    .table-hover>tbody>tr:hover>* {
        --bs-table-bg-state: #f1f8ff;
    }

}

.filetext {
    position: relative;
    padding-right: 30px;
    cursor: pointer;
    padding-left: 40px;

    img {
        vertical-align: middle;
        width: 32px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &::after {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background-size: 100%;
        background-position: center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &.publish {
        &::after {
            background-image: url('../img/studymanagement/publish2.png');
        }
    }

    &.unpublish {
        &::after {
            background-image: url('../img/studymanagement/unpublish2.png');
        }
    }
}

.stmanpage__publishsect {
    padding-top: 20px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        li {
            margin-right: 20px;

            img {
                margin-right: 5px;
                width: 30px;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                color: #222;
                transition: 0.3s;
                font-size: 16px;
                display: inline-block;
                padding: 5px;
                border-radius: 5px;

                &:hover {
                    background: #f2f8fe;
                }
            }
        }
    }
}

.filecontextmenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 1px 4px #b4b4b4;
    width: 180px;
    border-radius: 5px;
    position: absolute;
    z-index: 25;
    left: 40px;
    top: 40px;
    background: #fff;
    display: none;
    overflow: hidden;

    &.show {
        display: inline-block;
    }

    li {
        border-bottom: 1px solid #e7e7e7;

        &:last-child {
            border-bottom: none;
        }

        a {
            text-decoration: none;
            color: #212529;
            font-size: 14px;
            display: block;
            padding: 5px 10px 5px 30px;
            transition: 0.3s;
            position: relative;

            &:hover {
                background: #417fbf;
                color: #fff;
            }

            svg {
                position: absolute;
                left: 8px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

#kt_docs_jstree_customicons {
    li {
        line-height: 30px;
    }
}

.jstree-default .jstree-anchor {
    padding: 5px;
    height: auto;
}

.vakata-context li>a {
    color: #333;
    font-size: 14px;
}

.vakata-context {
    background: #fff;
    border: none;
    box-shadow: 2px 2px 4px #b4b4b4;

    li>a>i:empty {
        background-size: 18px !important;
    }
}

.tablewrapper {
    overflow: auto;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        border-radius: 10px;
    }
}

.stmanpage__body {
    .select2-container {
        z-index: 19 !important;
    }
}










@media(max-width:1600.8px) {
    .stmanpage {
        padding: 20px;
    }

    .stmanpage__header {
        min-height: 50px;

        .title {
            font-size: 21px;
        }
    }

    .stmanpage__body .stmanpage__folderswrap {
        max-width: 260px;
        flex: 0 0 260px;
    }

    .stmanpage__body .stmanpage__contentwrap {
        max-width: calc(100% - 260px);
        flex: 0 0 calc(100% - 260px);
    }

    .filetext:after {
        width: 20px;
        height: 20px;
    }

    .stmanpage__contentwrap thead th {
        font-size: 14px;
        padding: 15px 25px 15px 10px !important;
    }

    table.dataTable tbody td {
        min-width: 70px;
        font-size: 14px;
    }

    .filetext img {
        width: 28px;
    }

    .stmanpage__publishsect ul li img {
        width: 24px;
        margin-right: 3px;
    }

    .stmanpage__contentwrap td {
        padding: 12px 10px !important;
    }
}

@media(max-width:1199.8px) {

    .stmanpage__contbody {
        table {
            min-width: 800px;

            th {
                vertical-align: middle;
            }
        }
    }



}

@media(max-width:991.8px) {
    .stmanpage {
        padding: 10px;
    }

    .stmanpage__body .stmanpage__folderswrap {
        max-width: 240px;
        flex: 0 0 240px;
    }

    .stmanpage__body .stmanpage__contentwrap {
        max-width: calc(100% - 240px);
        flex: 0 0 calc(100% - 240px);
    }

    .stmanpage__contbody {

        .tablenav__rightnav {
            flex-wrap: wrap;
        }

        .selectpage {
            width: 100%;
            max-width: 50%;
            flex: 0 0 50%;
        }

        .currentpage {
            width: 100%;
            max-width: 50%;
            flex: 0 0 50%;
            text-align: right;
        }

        .tablepagination {
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
            margin-top: 20px;

            ul {
                justify-content: center;
            }
        }
    }


}

@media(max-width:767.8px) {

    .stmanpage__body .stmanpage__folderswrap,
    .stmanpage__body .stmanpage__contentwrap {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .stmanpage__body .stmanpage__folderswrap {
        padding: 10px;
    }

}

@media(max-width:575.8px) {

    .stmanpage__header .title {
        font-size: 18px;
    }

    .stmanpage__header {
        min-height: initial;
        padding: 8px 10px;
        margin-bottom: 10px;
    }

    .stmanpage__body .stmanpage__folderswrap {
        padding: 10px 0;
    }

    .jstree-default .jstree-anchor {
        font-size: 14px;
    }

    .jstree-default .jstree-anchor {
        padding: 3px 5px;
    }

    .stmanpage__conthead .searchsect {
        max-width: 100%;
        flex: 0 0 100%;

        input {
            border: 1px solid #b8cce1;
            padding-left: 10px;
            border-radius: 5px;
        }

        .inputfield {
            margin-bottom: 20px;
        }
    }

    .stmanpage__conthead .totalcount {
        max-width: 100%;
        flex: 0 0 100%;

        p {
            text-align: left;
        }
    }

    .stmanpage__body .stmanpage__contentwrap {
        padding: 15px 0 10px 0;
    }


    .stmanpage__contbody .selectpage {
        max-width: calc(100% - 100px);
        flex: 0 0 calc(100% - 100px);
    }

    .stmanpage__contbody .currentpage {
        max-width: 100px;
        flex: 0 0 100px;
    }

    .stmanpage__publishsect ul {
        justify-content: center;
    }



}









// Version 2
.stmanpage.v2 {
    background: #fff;
    padding: 0;

    .stmanpage__header {
        min-height: auto;
        background: transparent;
        border: none;
        padding: 0;

        .title {
            font-size: 32px;
            padding: 0;
        }
    }

    .stmanpage__body {
        padding: 0;
        border: none;
        min-height: 100vh;
    }

    .stmanpage__conthead {
        border-bottom: none;

        .inputfield {
            input {
                border-bottom: 1px solid #2A3042;
            }
        }
    }

    .stmanpage__body .stmanpage__folderswrap {
        border: none;
        padding: 20px;
        background: #2A3042;
        border-radius: 0;
    }

    .folderlist {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li a {
            margin-bottom: 5px;
        }

        i,
        svg {
            margin-right: 10px;
        }

        ul {
            list-style-type: none;
            padding: 0 0 0 15px;
            margin: 0;
        }

        a {
            text-decoration: none;
            font-size: 16px;
            color: #fff;
            display: block;
            transition: 0.3s;
            padding: 3px 5px;
            border-radius: 3px;

            &:hover {
                background: rgba(216, 227, 238, 0.3);
            }

            &.active {
                background: #2a4c6f;
                color: #fff;
            }
        }
    }

    .stmanpage__contentwrap {
        padding: 20px;
    }

    .tablenav .tablenav__rightnav {
        padding-right: 0;
    }

    .tablenav .tablenav__showpage {
        padding-left: 0;
    }

    .stmanpage__contentwrap thead th {
        background: #2a3042;
        color: #fff;
    }

    .stmanpage__contentwrap thead th:not(.no-sort):after {
        background: url(../img/studymanagement/sort.png) no-repeat center/100%;
    }

    .stmanpage__contentwrap .table-hover>tbody>tr:hover>* {
        --bs-table-bg-state: rgba(42, 48, 66, 0.1);
    }

    .filecontextmenu li a:hover {
        background: #2A3042;
    }


    .tablewrapper table.dataTable {
        width: 100% !important;
    }



}

.filecontextmenu.v2 {
    display: inline-block !important;
}

.foldercontmenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #fff;
    padding: 5px 0;
    z-index: 3;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 0 10px #333;
    width: 160px;

    &::after {
        content: '';
        display: block;
        width: 1px;
        height: calc(100% - 8px);
        background: #999;
        left: 30px;
        top: 4px;
        position: absolute;
    }

    li {

        a {
            text-decoration: none;
            color: #333;
            font-size: 14px;
            display: block;
            padding: 5px 5px 5px 40px;
            position: relative;
            transition: 0.3s;

            &:hover {
                background: #2a30421f;
            }


            img {
                width: 18px;
                position: absolute;
                left: 7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

@media(max-width:1600.8px) {
    .stmanpage.v2 .stmanpage__header .title {
        font-size: 28px;
    }
}

@media(max-width:1199.8px) {
    .stmanpage.v2 .stmanpage__body .stmanpage__folderswrap {
        max-width: 230px;
        flex: 0 0 230px;
    }

    .stmanpage.v2 .stmanpage__contentwrap {
        max-width: calc(100% - 230px);
        flex: 0 0 calc(100% - 230px);
    }
}

@media(max-width:767.8px) {

    .stmanpage.v2 .stmanpage__body .stmanpage__folderswrap,
    .stmanpage.v2 .stmanpage__contentwrap {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .stmanpage.v2 .stmanpage__body {
        min-height: initial;
    }
}

@media(max-width:575.8px) {
    .stmanpage.v2 .stmanpage__header .title {
        font-size: 21px;
    }

    .stmanpage.v2 .stmanpage__conthead .inputfield input {
        border: 1px solid #2A3042;
    }

    .stmanpage.v2 .stmanpage__contentwrap {
        padding: 10px;
    }

    .stmanpage.v2 .stmanpage__body .stmanpage__folderswrap {
        padding: 15px 10px;
    }



}



// MODALS
.mdmodal {
    .btn-close {
        position: absolute;
        right: 15px;
        top: 22px;
        z-index: 2;
        outline: none;
        box-shadow: none;
    }

    .modal-dialog {
        max-width: 700px;
    }

    .stud-modalhead {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
        margin-bottom: 20px;


        .title {
            font-size: 24px;
            font-weight: 500;
            margin: 0;
            padding-right: 30px;
        }
    }

    .select2 {
        width: 100% !important;
    }

    .select2-container .select2-selection--single {
        height: 42px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 42px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 42px;
    }

    .select2-search__field {
        outline: none !important;

        &:focus {
            border: 1px solid #b8cce1;
        }
    }

    .modboxin {
        margin-top: 20px;

        .modboxin__head {
            background: #f2f8fe;
            border: 1px solid #b8cce1;
            border-radius: 5px 5px 0 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            min-height: 40px;
            padding: 3px 10px;

            .title {
                font-size: 18px;
                margin: 0;
                width: 100%;
                max-width: calc(100% - 200px);
                flex: 0 0 calc(100% - 200px);
            }

            .uncheckall {
                width: 100%;
                max-width: 200px;
                flex: 0 0 200px;
                text-align: right;

                input {
                    display: none;

                    &:checked+label {
                        &::after {
                            background-image: url('../img/studymanagement/check.png');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 16px;
                        }
                    }
                }

                label {
                    cursor: pointer;
                    padding-left: 25px;
                    position: relative;

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #b8cce1;
                        position: absolute;
                        left: 0;
                        top: 2px;
                        border-radius: 3px;
                        background-color: #fff;
                    }
                }
            }
        }

        .modboxin__body {
            border: 1px solid #b8cce1;
            border-top: none;
            padding: 10px;

            .checkfiled {
                margin-bottom: 10px;

                input {
                    display: none;

                    &:checked+label {
                        &::after {
                            background-image: url('../img/studymanagement/check.png');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 16px;
                        }
                    }
                }

                label {
                    cursor: pointer;
                    padding-left: 25px;
                    position: relative;

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #b8cce1;
                        position: absolute;
                        left: 0;
                        top: 2px;
                        border-radius: 3px;
                        background-color: #fff;
                    }
                }
            }
        }
    }

    .stud-footbtns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

        button,
        a,
        input {
            margin: 0 10px;
            outline: none;
            padding: 0;
            box-shadow: none;
            border: none;
            background: transparent;
            text-decoration: none;
        }

        .cancel {
            min-width: 120px;
            height: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 1px solid #b8cce1;
            border-radius: 5px;
            transition: 0.3s;
            color: #212529;

            &:hover {
                box-shadow: 0 4px 10px #b8cce1;
            }
        }

        .success {
            min-width: 120px;
            height: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 1px solid #39628d;
            border-radius: 5px;
            background: #39628d;
            color: #fff;
            transition: 0.3s;

            &:hover {
                box-shadow: 0 4px 10px #b8cce1;
            }
        }
    }














}

.select2-dropdown.modaldd {
    .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: #39628d !important;
    }
}

.mdmodal.v2 {
    .modboxin .modboxin__head {
        background: #2A3042;

        .title {
            color: #fff;
        }

        .uncheckall label {
            color: #fff;
        }
    }

    .stud-footbtns .success {
        background: #2a3042;
    }

    .modboxin .modboxin__body .checkfiled label:after {
        border: 1px solid #2a3042;
    }

    .modboxin .modboxin__body .checkfiled input:checked+label:after {
        background-image: url(../img/studymanagement/check2.png);
    }

    .modboxin .modboxin__head .uncheckall input:checked+label:after {
        background-image: url(../img/studymanagement/check2.png);
    }




}


@media(max-width:767.8px) {
    .mdmodal {
        .inputfield {
            margin-bottom: 15px;
        }

        .modboxin {
            margin-top: 0;
        }
    }
}

@media(max-width:575.8px) {

    .mdmodal .stud-modalhead .title {
        font-size: 18px;
    }

    .mdmodal .btn-close {
        top: 17px;
    }

    .mdmodal .modboxin .modboxin__head .uncheckall {
        max-width: 120px;
        flex: 0 0 120px;
    }

    .mdmodal .modboxin .modboxin__head .title {
        font-size: 16px;
    }

    .mdmodal .modboxin .modboxin__head .title {
        max-width: calc(100% - 120px);
        flex: 0 0 calc(100% - 120px);
    }

}

// #2A3042

// 1px solid #b8cce1